.skills-text{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.4px;
}

.skillsText-bold{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.4px;
}

.cabecalho-skills{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 70px;
}

.container-skills {
    padding: 11rem;
}