body {
    font-family: 'Sora', sans-serif;
}

.container-about {
    display: flex;
    width: 1440px;
    padding: 150px 250px;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.profile-image {
    width: 691.03px;
    height: 692.281px;
    flex-shrink: 0;
}

.container-texts {
    display: flex;
    flex-direction: column;
}

.sobre-title {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.sobre-text {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.4px;
}

.sobreText-bold {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.4px;
}

p {
    color: var(--Zinc-500, #71717A);
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    width: 80%;
}