:root{
    --cor-1:#5d0ce7;
    --cor-2:#3c096c;
    --cor-3:#5a189a;
    --cor-4:#7b2cbf;
    --cor-5:#9d4edd;

    --cor-11:#ff6d00;
    --cor-22:#ff7900;
    --cor-33:#ff8500;
    --cor-44:#ff9100;
    --cor-55:#ff9e00;
}