.container-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
    color: inherit;
    color: var(--Primary-Black, #000);
    font-family: Sora;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;

    /* Adicionando espaço */
    padding: 10px 40px; /* Ajuste os valores conforme necessário */
    box-sizing: border-box; /* Garantir que padding não afete a largura total */
}

.button-navbar {
    border: #5900D6;
    border-radius: 4px;
    background: #5900D6;
    display: inline-flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Primary-White, #FFF);
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: background 0.5s, color 0.5s, border-color 0.5s;
}

.button-navbar:hover {
    background: #fafafa;
    border: 1px solid #5900D6;
    color: #5900D6;
}

a {
    color: #000;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    transition: background 0.5s, color 0.5s, border-color 0.5s;
}
